body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.sair{
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #6c0a0a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.card {
    display: inline-block;
    width: 200px;
    margin: 15px;
    padding: 10px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card p {
    margin: 10px 0;
}

#chart-container {
    max-width: 300px;
    margin: 40px auto;
}
